html {
	background: url("images/blackforest.jpg") no-repeat center center fixed;
	background-size: cover;
}

#name {
	font-family: 'Poiret One', cursive;
	text-align: center;
	font-size: 120px;
	font-weight: 80px;
	margin: auto 0;
	margin-top: 50px;
}

#arrow {
	margin-left: 700px;
	margin-top: 80px;
}

.description {
	border: none;
	border-radius: 10px;
	height: 200px;
	width: 500px;
	margin-top: 80px;
	margin-left: 460px;
	background-color: hsla(200, 7%, 13%, 0.67);
}

#title {
	text-align: center;
	color: white;
	margin: none;
}

#me {
	max-width: 55%;
	max-height: 55%;
	border-radius: 50px;
	margin-left: 40px;
	margin-top: 40px;
	background-color: hsla(200, 7%, 13%, 0.67) ;
}